%p{:id => "notice"}=notice

%p
  %strong Name:
  =@beer.name 

%p 
  %strong desc:
  =@beer.description

%p 
  %strong note:
  =@beer.note

=link_to 'Edit', edit_beer_path(@beer) 
|
=link_to 'Back', beers_path
